@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sf-pro-display";
  src: url("/fonts/SFPRODISPLAYREGULAR.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("/fonts/SFPRODISPLAYMEDIUM.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("/fonts/SFPRODISPLAYSEMIBOLD.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("/fonts/SFPRODISPLAYBOLD.otf");
  font-weight: 700;
  font-style: normal;
}


html {
    font-family: "sf-pro-display", sans-serif;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}